Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*

Workflow blinking fix, removed useless styles and removed hosts and groups from project
  doc/api_schema.yaml
  polemarch/api/v2/views.py
Due: pages

Resolve "Bug with autoupdate on template page"
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/hardcoder.js
  polemarch/static/js/pmTemplates.js
Due: none

Resolve "Add GUI tests for periodic tasks"
  polemarch/static/js/tests/pmGroups.js
  polemarch/static/js/tests/pmHosts.js
  polemarch/static/js/tests/pmInventories.js
  polemarch/static/js/tests/pmProjects.js
Due: none

Update ci triggers
  .gitlab-ci.yml
  doc/api_schema.yaml
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install, pages

Update setup.py compilation block
  setup.py
Due: py27-install, py36-install

Update setup.py bug in old pip versions
  LICENSE_NAME
  setup.cfg
Due: py27-install, py36-install

Resolve "Bug with template/option variables"
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/tests/pmProjects.js
Due: none

Update vstutils version + up pm version to 1.0.0
  README.rst
  initbin/polemarchweb.service
  initbin/polemarchworker.service
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Use ruamel.ordereddict if it possible
  polemarch/api/v2/serializers.py
  polemarch/api/v2/views.py
  polemarch/main/models/tasks.py
  polemarch/main/models/utils.py
  polemarch/main/models/vars.py
  requirements.txt
  tox.ini
Due: code_style, py27-install, py36-install

Improvements in Polemarch GUI tests
  polemarch/static/js/common.js
  polemarch/static/js/pmUsers.js
  polemarch/static/js/tests/pmGroups.js
  polemarch/static/js/tests/pmHosts.js
  polemarch/static/js/tests/pmInventories.js
  polemarch/static/js/tests/pmPaths.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/js/tests/pmUsers.js
  test_fixtures.json
Due: none

Add info about project variables to documentation.
  doc/gui.rst
  doc/gui_screenshots/test_project_variables_1.png
  doc/gui_screenshots/test_project_variables_2.png
  doc/gui_screenshots/test_project_variables_3.png
  doc/gui_screenshots/test_project_variables_4.png
Due: pages

Compress static files + optimize building + fix api-docs styles
  doc/_static/custom.css
  doc/polemarch-sphinx-theme/layout.html
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
  setup.py
  tox_build.ini
Due: code_style, py27-install, py36-install

Fix pagination for templates options, templates variables and for option variables.
  polemarch/static/js/pmTemplates.js
Due: none

Fix pagination for templates options, templates variables and for option variables [2].
  polemarch/static/js/pmTemplates.js
Due: none

Optimize static files + update compilation block
  setup.py
Due: py27-install, py36-install

Fixed rpm build
  Makefile
Due: none

Resolve "Refactoring of pmTemplates.js"
  polemarch/static/js/common.js
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/tests/pmUsers.js
Due: none

Refactoring of pmTemplates.js.
  polemarch/static/js/pmTemplates.js
Due: none

Support Python 3.7
  polemarch/main/repo/manual.py
  setup.cfg
  tox.ini
Due: code_style, py27-install, py36-install

Add branch field on create GIT-project instances
  polemarch/api/v2/serializers.py
  polemarch/main/tests/executions.py
  polemarch/main/tests/openapi.py
Due: none

Update version to stable
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Optimize builds
  .gitlab-ci.yml
Due: none

Fix bug with uwsgi-daemon `log_file`
  polemarch/web.ini
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Improve documentation [ci skip]
  doc/contribute.rst
  doc/installation.rst
  doc/quickstart.rst
Due: pages

Improve tests[ci skip]
  polemarch/static/js/tests/pmProjects.js
Due: none

Correct mistakes in documentation [ci skip]
  doc/installation.rst
Due: pages

Improve documentation [ci skip]
  doc/backup.rst
  doc/installation.rst
  doc/quickstart.rst
Due: pages

Update documentation
  doc/installation.rst
Due: pages

Fix django-deprecations for models
  polemarch/main/models/base.py
  polemarch/main/models/hosts.py
  polemarch/main/models/tasks.py
  polemarch/main/models/users.py
Due: none

Reject exec-requests on broken projects.
  polemarch/api/v2/serializers.py
  polemarch/api/v2/views.py
  polemarch/main/models/projects.py
  polemarch/main/models/tasks.py
  polemarch/main/models/utils.py
  polemarch/main/models/vars.py
  polemarch/main/tests/executions.py
Due: none

Add history migration for executor in history
  polemarch/main/migrations/0005_history_on_delete.py
Due: none

Update vsutils version to 1.5.0
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Release up 1.1.0 -> 1.1.0
  polemarch/__init__.py
Due: none

Update schema + fix bug in history lists
  doc/api_schema.yaml
  polemarch/static/js/pmHistory.js
Due: pages

Add `ansible_password` to hidden fields and fix reponame on commit
  polemarch/__init__.py
  polemarch/main/models/vars.py
  polemarch/main/repo/vcs.py
Due: none

Fix bug with overload for tasks.
  .pylintrc
  polemarch/main/tasks/tasks.py
Due: code_style

Refactoring inventory field on executions and coverage markers.
  polemarch/api/v2/serializers.py
  polemarch/main/models/__init__.py
  polemarch/main/models/users.py
Due: none

Update pylint version
  tox.ini
Due: code_style, py27-install, py36-install

Update restirction for pylint2
  .pylintrc
Due: code_style
