Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py27-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

pages:
  stage: release
  script:
  - make test ENVS=builddoc
  - mv doc/_build/html public
  artifacts:
    paths:
    - public

Fix opening of /project/{pk}/periodic_task/{periodic_task_id}/. Fix chart update.
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmPeriodicTasks.js
Due: none

Refactoring CI/CD and optimize test executions
  .gitlab-ci.yml
Due: none

Fix docs warnings
  .gitlab-ci.yml
  doc/gui.rst
Due: pages

Update vstutils version
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Change horizontal logo to .svg
  doc/polemarch-sphinx-theme/layout.html
  polemarch/static/css/polemarch-gui.css
  polemarch/static/img/logo/horizontal.png
  polemarch/static/img/logo/horizontal.svg
  polemarch/templates/gui/gui.html
  polemarch/templates/rest_framework/base.html
Due: none

Resize horizontal logo
  polemarch/static/img/logo/horizontal.svg
Due: none

Fixed horizontal logo on page and in docs.
  deb.mk
  doc/polemarch-sphinx-theme/layout.html
  rpm.mk
Due: none

Fixed horizontal logo on page and in docs.
  polemarch/web.ini
Due: none

Fix polemarch-gui.css.
  polemarch/static/css/polemarch-gui.css
  polemarch/templates/rest_framework/base.html
Due: none

Fix problems with projects and git checkout from another branches
  polemarch/main/models/projects.py
  polemarch/main/repo/vcs.py
Due: none

Allow to checkout to git tags
  polemarch/main/repo/vcs.py
  polemarch/main/tests/executions.py
Due: none

Fix gitlab-ci.yml - run tests on python code changes
  .gitlab-ci.yml
Due: none

Fix project-import inventory and test for it
  polemarch/api/v2/views.py
  polemarch/main/tests/executions.py
  polemarch/main/tests/hosts.py
Due: none

Fix signals (undefined fields).
  polemarch/static/js/pmUsers.js
  polemarch/templates/rest_framework/base.html
Due: none

Tags using in project sync
  polemarch/main/repo/vcs.py
  polemarch/main/tests/executions.py
Due: none

Fix rights for non_staff users.
  polemarch/api/v2/views.py
Due: none

Fix bug with tags and optimize checkout
  polemarch/main/repo/vcs.py
  polemarch/main/tests/executions.py
Due: none

Release up 0.2.3 -> 0.2.4
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Fix bug with let.
  polemarch/__init__.py
  polemarch/static/js/pmPeriodicTasks.js
  polemarch/static/js/pmTemplates.js
Due: none

Add test for guiElement.form in vst-utils.
  polemarch/static/js/tests/pmElements.js
Due: none

Small fix in test guiElement.form_pm.
  polemarch/static/js/tests/pmElements.js
Due: none

Add test for checking non sending hidden fields.
  polemarch/static/js/tests/pmProjects.js
Due: none

Fix CSS.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
Due: none

Fix CSS[2].
  polemarch/static/css/polemarch-gui.css
  polemarch/static/templates/pmDashboard.html
Due: none

Screencast was updated.
  doc/screencast.gif
Due: pages

Fixed git repo updates
  polemarch/main/repo/vcs.py
Due: none

Update 2 screenshots. Fix prefetch for executor field in History.
  doc/gui_screenshots/test_user.png
  doc/gui_screenshots/user_list.png
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmHistory.js
  polemarch/templates/rest_framework/base.html
Due: none

Fix quick project deployment in polemarch.
  polemarch/static/js/pmProjects.js
Due: none

Resolve "API Community projects repo"
  .pylintrc
  Makefile
  polemarch/api/v2/serializers.py
  polemarch/api/v2/views.py
  polemarch/main/migrations/0004_projecttemplate.py
  polemarch/main/models/__init__.py
  polemarch/main/models/projects.py
  polemarch/main/settings.py
  polemarch/main/tests/executions.py
  polemarch/static/js/pmCommunity.js
  polemarch/templates/gui/gui.html
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Fix flake8 tests
  .gitlab-ci.yml
  polemarch/api/v2/serializers.py
Due: none

Add hiding of empty extra_vars section on quick Run playbook form.
  polemarch/static/js/pmProjects.js
Due: none

Fix template for Onehistory page.
  polemarch/static/templates/pmHistory.html
Due: none

Return to python2 in deb packages
  .gitlab-ci.yml
  deb.mk
Due: none

Add class to tables.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmProjects.js
Due: none

Add changes to build-package process
  .gitignore
  setup.py
Due: py27-install, py36-install

Info about "community_template" (community project samples) was added to documentation.
  doc/gui.rst
  doc/gui_screenshots/community_template.png
  doc/gui_screenshots/community_template_1.png
  doc/gui_screenshots/community_template_2.png
  doc/gui_screenshots/community_template_3.png
  doc/gui_screenshots/community_template_4.png
  doc/gui_screenshots/create_project_with_polemarch_yaml_3_1.png
Due: pages

Fixed vstutils version
  requirements.txt
Due: code_style, py27-install, py36-install

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*
