Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py27-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

pages:
  stage: release
  script:
  - make test ENVS=builddoc
  - mv doc/_build/html public
  artifacts:
    paths:
    - public

Add info about "import inventory" and ".polemarch.yaml" to docs.
  doc/gui.rst
  doc/quickstart.rst
Due: pages

Add images to docs.
  doc/gui_screenshots/create_project_with_polemarch_yaml.png
  doc/gui_screenshots/create_project_with_polemarch_yaml_2.png
  doc/gui_screenshots/create_project_with_polemarch_yaml_3.png
  doc/gui_screenshots/create_project_with_polemarch_yaml_4.png
  doc/gui_screenshots/create_project_with_polemarch_yaml_5.png
  doc/gui_screenshots/import_inventory.png
  doc/gui_screenshots/import_inventory_2.png
  doc/gui_screenshots/import_inventory_3.png
  doc/gui_screenshots/import_inventory_4.png
  doc/gui_screenshots/import_inventory_5.png
  doc/gui_screenshots/import_inventory_6.png
  polemarch/static/js/common.js
Due: none

Update dependences and disable signals on loaddata
  polemarch/api/v2/serializers.py
  polemarch/main/models/__init__.py
  requirements-doc.txt
  requirements.txt
  setup.py
Due: code_style, py27-install, py36-install

Update setup.py - remove useless dependency
  setup.py
Due: py27-install, py36-install

Fix docs about `.polemarch.yaml`
  doc/gui.rst
Due: pages

Fix bug owner on update
  polemarch/api/v2/serializers.py
Due: none

Fix tests failling in parallel
  polemarch/main/tests/executions.py
Due: none

change format for detail module WIP [ci skip]
  polemarch/static/js/pmProjects.js
Due: none

Release up to 0.2.3 and fix github release building
  polemarch/__init__.py
  setup.cfg
  setup.py
Due: py27-install, py36-install

fix tests for creating hook
  polemarch/static/js/tests/pmHook.js
Due: none

Update `publish` stage for easier release
  .gitlab-ci.yml
Due: none

Add ansible_json field
  polemarch/static/js/pmProjects.js
  polemarch/static/templates/pmProject.html
Due: none

Fix bug with manual inventory execution
  polemarch/main/models/utils.py
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

Smart parsing of data field on module detail page was added. 'ansible_json' was improved.
  polemarch/static/js/pmProjects.js
  polemarch/static/templates/pmProject.html
Due: none

add admin-lte 3 vst/vst-utils#109
  polemarch/main/settings.py
  polemarch/static/js/common.js
  polemarch/static/templates/pmDashboard.html
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmProject.html
  polemarch/static/templates/pmUsers.html
  polemarch/templates/gui/gui.html
Due: code_style, py27-install, py36-install

Add ansible configuration parsing in project and loading modules on sync
  polemarch/main/models/projects.py
  polemarch/main/repo/_base.py
  polemarch/main/tests/executions.py
  polemarch/main/utils.py
  requirements.txt
Due: code_style, py27-install, py36-install

Add ansible configuration parsing in project and loading modules on sync
  polemarch/main/models/projects.py
  polemarch/main/repo/_base.py
Due: none

Add ansible configuration parsing in project and loading modules on sync
  polemarch/main/repo/_base.py
Due: none

Add ansible configuration parsing in project and loading modules on sync
  .gitlab-ci.yml
Due: none

Add test for'ansible_json' field.
  polemarch/static/js/common.js
  polemarch/static/js/pmElements.js
  polemarch/static/js/pmProjects.js
  polemarch/static/js/tests/pmElements.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/templates/pmElements.html
  polemarch/static/templates/pmProject.html
  polemarch/templates/gui/gui.html
Due: none

Coloring statuses in History and Project lists
  polemarch/api/v2/serializers.py
  polemarch/main/models/projects.py
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmDashboard.js
Due: none

Fix tests and update openapi for docs
  doc/api_schema.yaml
  polemarch/api/v2/serializers.py
  polemarch/main/tests/openapi.py
Due: pages

CSS for lists was fixed (adaptive design).
  polemarch/api/v2/serializers.py
  polemarch/main/tests/openapi.py
  polemarch/static/css/polemarch-gui.css
Due: none

Update documentation. Add information about `settings.ini` sections.
  .gitlab-ci.yml
  doc/config.rst
  polemarch/main/settings.ini
Due: code_style, py27-install, py36-install, pages

Optimize PeriodicTask.schedule, Hook.recipients and other fields
  polemarch/main/migrations/0001_v2.py
  polemarch/main/migrations/0003_models_optimization.py
  polemarch/main/models/hooks.py
  polemarch/main/models/projects.py
  polemarch/main/models/tasks.py
  polemarch/main/models/users.py
  polemarch/main/models/vars.py
  polemarch/main/tests/openapi.py
Due: none

Optimize PeriodicTask.schedule, Hook.recipients and other fields
  polemarch/main/migrations/0001_v2.py
Due: none

Dashboard and OneHistory pages were addapted to AdminLTE 3.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmUsers.html
Due: none

Translation of comments.
  polemarch/static/js/pmDashboard.js
Due: none

Add badges to README.rst
  README.rst
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Addapting rest_framework templates to adminLTE 3 and bootstrap 4.
  polemarch/templates/auth/login.html
  polemarch/templates/rest_framework/base.html
Due: none

Addapting rest_framework templates to adminLTE 3 and bootstrap 4 [2].
  polemarch/templates/rest_framework/base.html
Due: none

Fix sidebar on API pages.
  polemarch/templates/rest_framework/base.html
Due: none

move guiElement.form into vstutils vst/vst-utils#109 vst/vst-utils#128
  polemarch/static/js/pmProjects.js
  polemarch/static/templates/pmProject.html
Due: none

Adapting of api pages for adminLTE 3.
  polemarch/templates/rest_framework/base.html
Due: none

move guiElements.form into vst utils
  polemarch/static/js/pmElements.js
Due: none

CSS fix.
  polemarch/static/templates/pmProject.html
Due: none

CSS fix [2].
  polemarch/static/css/polemarch-gui.css
Due: none

Fix history list CSS.
  polemarch/static/css/polemarch-gui.css
Due: none

Update Dashboard chart.
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
Due: none

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*
