Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py35-coverage, py36-install

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py27-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py35-coverage:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

Refactoring temp files generation and cleaning.
  doc/api_schema.yaml
  polemarch/__init__.py
  polemarch/main/models/utils.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Build refactoring: add 3.7 wheels + update links in README.rst
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.rst
  setup.cfg
  tox.ini
  tox_build.ini
Due: code_style, py27-install, py35-coverage, py36-install

Update Web site link
  setup.py
Due: py27-install, py35-coverage, py36-install

Generate MANUAL-project files on create + cancel task on remove history.
  polemarch/main/models/__init__.py
  polemarch/main/repo/manual.py
  polemarch/main/settings.py
  polemarch/templates/polemarch/ansible.cfg
  polemarch/templates/polemarch/bootstrap.yml
Due: code_style, py27-install, py35-coverage, py36-install

Update autorelease script
  autorelease.sh
Due: none

Remove useless `sphinxcontrib.openapi` docs extention.
  doc/conf.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Optimize performance for Executor + update vstutils version
  polemarch/main/models/utils.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Optimize tests performance (cut testcases by classes)
  polemarch/main/tests/__init__.py
  polemarch/main/tests/api.py
Due: code_style, py27-install, py35-coverage, py36-install

Allow to set default directory for TAR projects
  doc/api_schema.yaml
  polemarch/api/v2/serializers.py
  polemarch/main/repo/tar.py
Due: code_style, py27-install, py35-coverage, py36-install

Push project to git if project was non-GIT and remote is empty.
  .pylintrc
  polemarch/main/repo/vcs.py
  polemarch/main/tests/api.py
  polemarch/main/tests/executions.py
Due: code_style, py27-install, py35-coverage, py36-install

Add ansible==2.8 support
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Refactoring pm-ansible execution output.
  polemarch/main/utils.py
Due: code_style, py27-install, py35-coverage, py36-install

change docker file
  docker/Dockerfile.dev
Due: none

Fixed tests + fixed documentation
  doc/api_schema.yaml
  doc/installation.rst
  polemarch/main/tests/openapi.py
  polemarch/main/utils.py
Due: code_style, py27-install, py35-coverage, py36-install

Fixed openapi tests
  polemarch/main/tests/openapi.py
Due: code_style, py27-install, py35-coverage, py36-install

Fixed tests with new ansible
  tox.ini
Due: code_style, py27-install, py35-coverage, py36-install

Fixed ansible tests
  polemarch/main/tests/executions.py
  tox.ini
Due: code_style, py27-install, py35-coverage, py36-install

Refactoring for new Cython versions.
  polemarch/main/models/hosts.py
  polemarch/main/models/tasks.py
  polemarch/main/models/users.py
Due: code_style, py27-install, py35-coverage, py36-install

Fix history_initiator field.
  doc/api_schema.yaml
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmFields.js
Due: none

Update vstutils min version
  requirements-doc.txt
  requirements.txt
  setup.cfg
Due: code_style, py27-install, py35-coverage, py36-install

Fixed build on tags
  tox.ini
  tox_build.ini
Due: code_style, py27-install, py35-coverage, py36-install

Update deps and classifiers
  autorelease.sh
  doc/api_schema.yaml
  doc/gui.rst
  doc/installation.rst
  doc/quickstart.rst
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Update versions of moment.js and bootstrap libs.
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/tests/pmFields.js
Due: none

Update vstutils
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Create playbook for deployment Polemarch in new inctance OpenStack. Deleting lines in code and deleting files with regards to Compose
  .gitlab-ci.yml
  Makefile
  ansible.cfg
  deploy-openstack.yml
  deployment/settings_pm.j2
  destroy-openstack.yml
  docker-compose-testrun.yml
  docker/Dockerfile.dev
  group_vars/all.yml
  setup.py
  tox.ini
Due: code_style, py27-install, py35-coverage, py36-install

Fix bug with some GitPython versions.
  doc/api_schema.yaml
  doc/gui.rst
  polemarch/__init__.py
  polemarch/main/repo/vcs.py
Due: code_style, py27-install, py35-coverage, py36-install

#218 Fix history clear after non `OK` task
  polemarch/main/models/utils.py
Due: code_style, py27-install, py35-coverage, py36-install

Add PWA/WEB manifest to GUI. Add service worker caching. Remove indexedDB caching.
  polemarch/__init__.py
  polemarch/main/settings.py
  polemarch/static/img/logo/logo_120x120.png
  polemarch/static/img/logo/logo_128x128.png
  polemarch/static/img/logo/logo_144x144.png
  polemarch/static/img/logo/logo_150x150.png
  polemarch/static/img/logo/logo_152x152.png
  polemarch/static/img/logo/logo_180x180.png
  polemarch/static/img/logo/logo_192x192.png
  polemarch/static/img/logo/logo_310x310.png
  polemarch/static/img/logo/logo_36x36.png
  polemarch/static/img/logo/logo_48x48.png
  polemarch/static/img/logo/logo_512x512.png
  polemarch/static/img/logo/logo_72x72.png
  polemarch/static/img/logo/logo_96x96.png
  polemarch/static/js/pmHistory.js
  polemarch/static/templates/pmItems.html
  polemarch/templates/gui/gui.html
  polemarch/templates/gui/offline.html
  polemarch/templates/gui/service-worker.js
  polemarch/templates/rest_framework/base.html
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Update versions.
  polemarch/__init__.py
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Fix bug with autoupdate of history stdout. Exclude service-worker.js from minify. Update version.
  polemarch/__init__.py
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmHistory.js
  setup.py
Due: py27-install, py35-coverage, py36-install

Add CI support for run template on sync and got changes in project.
  doc/api_schema.yaml
  polemarch/api/v2/serializers.py
  polemarch/main/ci.py
  polemarch/main/exceptions.py
  polemarch/main/models/__init__.py
  polemarch/main/models/projects.py
  polemarch/main/models/tasks.py
  polemarch/main/models/utils.py
  polemarch/main/models/vars.py
  polemarch/main/repo/_base.py
  polemarch/main/repo/manual.py
  polemarch/main/repo/tar.py
  polemarch/main/settings.py
  polemarch/main/tests/executions.py
  polemarch/main/tests/openapi.py
Due: code_style, py27-install, py35-coverage, py36-install

Fix recurcive import for serializers
  polemarch/__init__.py
  polemarch/api/v2/serializers.py
Due: code_style, py27-install, py35-coverage, py36-install

Add callback for ProjectVariable.fields.value field.
  polemarch/static/js/pmProjects.js
Due: none

Fix key searching pattern for SSH-keys in ansible run.
  polemarch/__init__.py
  polemarch/main/models/utils.py
  polemarch/main/tests/executions.py
Due: code_style, py27-install, py35-coverage, py36-install

Compress *.js and *.css via gzip on build and add files for serving.
  doc/api_schema.yaml
  polemarch/__init__.py
  polemarch/main/repo/_base.py
  polemarch/main/repo/vcs.py
  polemarch/main/tests/executions.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py35-coverage, py36-install

Compress *.js and *.css via gzip on build and add files for serving.
  README.rst
  requirements-test.txt
  requirements.txt
  setup.py
Due: code_style, py27-install, py35-coverage, py36-install

Fix language level on build
  setup.py
Due: py27-install, py35-coverage, py36-install

Fix problem with private-key execution via API.
  polemarch/main/models/utils.py
Due: code_style, py27-install, py35-coverage, py36-install

Path conditions:
  code_style: any of: polemarch/main/**/*, polemarch/api/**/*, requirements.txt, Makefile, tox.ini, .pylintrc, .pep8
  py27-install: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
  py35-coverage: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
  py36-install: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
