Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py27-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

pages:
  stage: release
  script:
  - make test ENVS=builddoc
  - mv doc/_build/html public
  artifacts:
    paths:
    - public

Add multiprocessing module for tox install test
  tox.ini
Due: code_style, py27-install, py36-install

black skin vst/vst-utils#109 vst/vst-utils#134
  polemarch/static/templates/pmDashboard.html
Due: none

Change profile icon and fix menu buttons on small screens.
  polemarch/static/templates/pmDashboard.html
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmProject.html
Due: none

Fix adaptivity of chart period list on Dashboard page.
  polemarch/static/css/polemarch-gui.css
Due: none

Hide about button in api.
  polemarch/templates/rest_framework/base.html
Due: none

Fix dates on Dashboard chart.
  polemarch/static/js/pmDashboard.js
Due: none

Add links to our resources [ci skip]
  doc/conf.py
  doc/index.rst
  doc/polemarch-sphinx-theme/layout.html
Due: pages

Update link to web-site [ci skip]
  README.rst
Due: none

Delete font awesome icons from rst
  doc/index.rst
Due: pages

menu moved into vstutils vst/vst-utils#109 vst/vst-utils#134
  polemarch/static/js/common.js
Due: none

Updates for customizer.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
  polemarch/templates/gui/gui.html
  polemarch/templates/rest_framework/base.html
Due: none

Attempt to fix bug with urls in api.
  polemarch/main/settings.py
  polemarch/templates/rest_framework/base.html
Due: code_style, py27-install, py36-install

Update CSS for api pages for customizer.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
Due: none

Add function isRendered() to guiElement.base. Fix bug with colors fields on api pages.
  polemarch/templates/rest_framework/base.html
Due: none

fix colors in skin vst/vst-utils#109 vst/vst-utils#134
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
Due: none

Saving skins settings to Api.
  polemarch/static/js/pmDashboard.js
  polemarch/templates/rest_framework/base.html
Due: none

Update Quickstart documentation.
  doc/quickstart.rst
Due: pages

fix colors in skin vst/vst-utils#109 vst/vst-utils#134
  polemarch/static/js/pmDashboard.js
  polemarch/templates/rest_framework/base.html
Due: none

Chart updates.
  polemarch/static/js/pmDashboard.js
Due: none

Fix debian build for support python3
  deb.mk
Due: none

Update quickstart.rst
  doc/quickstart.rst
Due: pages

Delete font-awesome
  doc/conf.py
Due: pages

Fix saving of custom skin settings to API from profile/settings page.
  polemarch/api/v2/serializers.py
  polemarch/main/tests/openapi.py
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmUsers.js
Due: none

Chart colors for Dark skin were fixed. Dashboard function for chart render was refactored.
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
Due: none

Update quickstart.rst and build ubuntu deb with python3 in release
  .gitlab-ci.yml
  Makefile
  doc/quickstart.rst
Due: pages

add edit page and view page vst/vst-utils#83
  polemarch/static/js/pmProjects.js
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmProject.html
Due: none

Delete font-awesome
  doc/polemarch-sphinx-theme/layout.html
  polemarch/templates/gui/gui.html
Due: none

Add option `public_openapi` in docs
  doc/config.rst
Due: pages

Update gui.rst for docs.
  doc/gui.rst
  doc/gui_screenshots/execute_module_3.png
  doc/gui_screenshots/execute_template_2.png
Due: pages

add tests for edit page and view page vst/vst-utils#83
  polemarch/static/js/common.js
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/pmUsers.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/js/tests/pmUsers.js
Due: none

Fix class for polemarch project form.
  polemarch/static/templates/pmProject.html
Due: none

Fix profile tests.
  polemarch/static/js/common.js
  polemarch/static/js/tests/pmUsers.js
Due: none

Update vstutils version
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Saving of selected skin name to userSettings was added.
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmUsers.js
Due: none

Dashboard updates(only for new data) were fixed.
  polemarch/static/js/pmDashboard.js
Due: none

Add home button to sidebar. Fix root link.
  doc/index.rst
  doc/polemarch-sphinx-theme/layout.html
Due: pages

Add manual rpm/deb tests and upload setuptools and pip on build rpm/deb
  .gitlab-ci.yml
  Makefile
  tox.ini
Due: code_style, py27-install, py36-install

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*
