Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py37-coverage, py36-install

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint,jshint
  retry: 2

py37-coverage:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  - make test ENVS=$TOX_ENVS
  ...

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  - make test ENVS=$TOX_ENVS
  ...

Refactoring CI
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Update default values in ansible reference + schema for docs
  doc/api_schema.yaml
  polemarch/main/tests/openapi.py
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix swagger for future refactored version of vstutils
  polemarch/api/v2/swagger.py
Due: code_style, py37-coverage, py36-install

Fixes for future version of vstutils
  polemarch/main/models/vars.py
  polemarch/main/tests/api.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Start adding of localization to app.
  .jshintrc
  polemarch/main/tests/api.py
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmCustomizer.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmUsers.js
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmItems.html
  polemarch/static/templates/pmProjects.html
  polemarch/translations/__init__.py
  polemarch/translations/en.py
  polemarch/translations/ru.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update version to 1.6.0
  polemarch/__init__.py
Due: none

Fix openapi tests - remove AnsiblePlaybook and AnsibleModule from cmp
  polemarch/main/tests/openapi.py
  tox.ini
Due: code_style, py37-coverage, py36-install

Fix backup-restore functionality
  polemarch/main/models/__init__.py
  polemarch/main/models/base.py
Due: code_style, py37-coverage, py36-install

Refactoring periodic tasks signal
  doc/api_schema.yaml
  polemarch/main/models/__init__.py
  polemarch/main/tests/executions.py
Due: code_style, py37-coverage, py36-install

Migrate test environment to Kubernates
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  Makefile
  ansible.cfg
  deploy-openstack.yml
  deployment/settings_pm.j2
  destroy-openstack.yml
  docker-compose.yml
  envirement/all.yml
  envirement/deployment_pm.yml.j2
  envirement/docker_data/settings.ini
  envirement/docker_data/system_requirements.txt
  envirement/docker_data/system_requirements_build.txt
  envirement/docker_data/system_requirements_pip.txt
  group_vars/all.yml
  k8s_env_deploy.yaml
  k8s_env_destroy.yaml
  tox.ini
Due: code_style, py37-coverage, py36-install

Rename `envirement` to `environment`.
  Dockerfile
  environment/all.yml
  environment/deployment_pm.yml.j2
  environment/docker_data/settings.ini
  environment/docker_data/system_requirements.txt
  environment/docker_data/system_requirements_build.txt
  environment/docker_data/system_requirements_pip.txt
  k8s_env_deploy.yaml
  k8s_env_destroy.yaml
Due: none

Fix docker build bugs and add pipeline to build docker images on release
  .gitlab-ci.yml
  Makefile
  ansible.cfg
  doc/installation.rst
  docker-compose.yml
  docker_release.yml
  environment/deployment_pm.yml.j2
  environment/docker_build_image_inventory.ini
  polemarch/__init__.py
  requirements.txt
  tox.ini
Due: code_style, py37-coverage, py36-install

Fix publish building
  .gitlab-ci.yml
  doc/installation.rst
  polemarch/__init__.py
Due: py37-coverage, py36-install

Fix master CI tests
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Fix building https://gitlab.com/vstconsulting/polemarch/-/jobs/384059147
  .gitlab-ci.yml
  polemarch/__init__.py
Due: py37-coverage, py36-install

Docker release fix build
  docker_release.yml
Due: none

Refactoring: del useless imports, six and fix periodic task signal logic
  polemarch/api/v2/filters.py
  polemarch/api/v2/serializers.py
  polemarch/main/migrations/0002_modules_and_rename.py
  polemarch/main/migrations/0046_auto_20180608_0658.py
  polemarch/main/models/__init__.py
  polemarch/main/models/hosts.py
  polemarch/main/models/projects.py
  polemarch/main/models/tasks.py
  polemarch/main/tests/executions.py
  polemarch/main/unittests/ansible.py
Due: code_style, py37-coverage, py36-install

Add more production-ready uwsgi config in installation docs.
  doc/installation.rst
Due: none

Add more production-ready uwsgi config in docker env.
  environment/docker_data/settings.ini
Due: none

Optimize `web` command settings with vstutils defaults
  polemarch/web.ini
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Optimize uswgi command to use with `dockerrun`.
  polemarch/__init__.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix bug with UserSettings in EE.
  doc/api_schema.yaml
  polemarch/api/v2/serializers.py
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmUsers.js
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix bug with useless rerendering of Dashboard chart.
  polemarch/main/models/tasks.py
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmItems.js
  polemarch/static/templates/pmItems.html
  polemarch/translations/en.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Change links to some global vstutils variables on links to app.api[method]().
  doc/api_schema.yaml
  polemarch/__init__.py
  polemarch/main/tests/_base.py
  polemarch/main/tests/api.py
  polemarch/main/tests/executions.py
  polemarch/main/tests/hosts.py
  polemarch/main/tests/openapi.py
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/common.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmFields.js
  polemarch/static/js/pmHistory.js
  polemarch/static/js/pmUsers.js
  polemarch/static/js/tests/pmFields.js
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix tests.
  doc/installation.rst
Due: none

Update docs and requirements
  doc/installation.rst
  requirements-doc.txt
  requirements.txt
  setup.cfg
Due: code_style, py37-coverage, py36-install

Resolve error with dependencies `gitdb` latest version. Freeze `GitPython` and `gitdb` versions.
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update vstutils version to 3.0.4b5.
  doc/api_schema.yaml
  polemarch/__init__.py
  polemarch/main/settings.py
  requirements-doc.txt
  requirements.txt
  tox.ini
Due: code_style, py37-coverage, py36-install

Update vstutils version to 3.0.4b6
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix logo customization + email support
  .jshintrc
  polemarch/__init__.py
  polemarch/static/js/pmItems.js
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update build image to vstconsulting/images
  .gitlab-ci.yml
  tox_build.ini
Due: py37-coverage, py36-install

Update autorelease code and refactoring CI
  .gitlab-ci.yml
  autorelease.sh
Due: py37-coverage, py36-install

Fix vscode refactoring
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Refactoring `.gitlab-ci.yml` for Gitlab >= 13.0
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Fix documentation static
  doc/_static/custom.css
  doc/polemarch-sphinx-theme/layout.html
  frontend_src/doc.css
  frontend_src/doc.js
  webpack.config.js
Due: none

Remove make dependency from tests
  .gitlab-ci.yml
  tox.ini
Due: code_style, py37-coverage, py36-install

Update compilation block
  setup.py
Due: py37-coverage, py36-install

Bump version to 1.7.2
  polemarch/__init__.py
Due: none

Path conditions:
  code_style: any of: polemarch/main/**/*, polemarch/api/**/*, polemarch/static/js/*, requirements.txt, Makefile, tox.ini, .pylintrc, .pep8
  py37-coverage: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
  py36-install: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
