Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*

Update/remove useless libs + update project information
  LICENSE_NAME
  README.rst
  requirements.txt
  setup.cfg
Due: code_style, py27-install, py36-install

Add inventory generate to yaml [ci skip]
  polemarch/main/models/hosts.py
  polemarch/main/tests/executions.py
Due: none

Add generate inventory to yaml
  polemarch/main/models/hosts.py
  polemarch/main/tests/executions.py
Due: none

Refactor inventory yaml, delete deprecated code
  MANIFEST.in
  polemarch/main/models/hosts.py
  polemarch/main/models/vars.py
  polemarch/main/templatetags/__init__.py
  polemarch/main/templatetags/inventories.py
  polemarch/main/tests/exemplary_complex_inventory
Due: py27-install, py36-install

Fix test for yaml inventory
  polemarch/main/models/utils.py
  polemarch/main/tests/executions.py
  setup.py
Due: py27-install, py36-install

Update setup compilation block and vstutils version
  Makefile
  requirements-doc.txt
  requirements.txt
  setup.py
Due: code_style, py27-install, py36-install

Change indent for generate yaml
  polemarch/main/models/hosts.py
Due: none

In `-install` tests build wheels + make tests in different folder.
  .gitlab-ci.yml
  tox.ini
  tox_build.ini
Due: code_style, py27-install, py36-install

Fixed tests and building wheels
  .gitlab-ci.yml
  setup.cfg
  setup.py
  tox.ini
Due: code_style, py27-install, py36-install

Release up 0.2.5 -> 0.2.6
  polemarch/__init__.py
Due: none

Update build
  .gitlab-ci.yml
Due: none

Fix execution of playbooks with non latin characters in name.
  polemarch/api/v2/serializers.py
  polemarch/main/models/utils.py
Due: none

Refactoring history
  polemarch/static/js/pmHistory.js
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Add opportunity to create template without inventory.
  polemarch/main/models/__init__.py
  polemarch/main/tests/executions.py
  polemarch/static/js/pmInventories.js
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/tests/pmProjects.js
Due: none

Fix bug with vstutils requirements on install operations
  setup.py
Due: py27-install, py36-install

Improvement of hybrid_autocomplete field.
  polemarch/static/js/pmInventories.js
Due: none

Update Makefile
  Makefile
Due: none

Update vstutils to 1.3.9 and setup process
  Makefile
  doc/index.rst
  requirements-doc.txt
  requirements.txt
  setup.cfg
  setup.py
Due: code_style, py27-install, py36-install, pages

Update Community view description
  polemarch/static/js/pmCommunity.js
Due: none

Fix build wheels
  tox_build.ini
Due: none

Refactoring migrations and link settings
  polemarch/__main__.py
  polemarch/main/migrations/0001_v2.py
  polemarch/main/migrations/0002_modules_and_rename.py
  polemarch/main/migrations/0019_auto_20171025_0104.py
  polemarch/main/migrations/0021_usergroup.py
  polemarch/main/migrations/0022_auto_20171110_0857.py
  polemarch/main/migrations/0025_auto_20171120_1126.py
  polemarch/main/migrations/0026_auto_20171122_0145.py
  polemarch/main/migrations/0038_auto_20180420_0836.py
  polemarch/main/migrations/0039_auto_20180420_0908.py
  polemarch/main/settings.py
  polemarch/main/unittests/hooks.py
  tox.ini
Due: code_style, py27-install, py36-install

Disable build `.rpm` and `.deb` and update site page in README.rst
  .gitlab-ci.yml
  README.rst
  setup.cfg
Due: py27-install, py36-install

Allow to override env on executions
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

Fix realtime output
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

Fix bug with python buffered stdout
  polemarch/main/utils.py
  requirements.txt
Due: code_style, py27-install, py36-install

Add git submodules support
  polemarch/main/repo/vcs.py
  polemarch/main/tests/executions.py
Due: none

Fix bug with deleting of template variables during template saving.
  polemarch/static/js/pmTemplates.js
Due: none

Update gitlab and add github issue and pull request templates + fix test
  .github/issue_template.md
  .github/pull_request_template.md
  .gitlab/merge_request_templates/Bugfix.md
  .gitlab/merge_request_templates/Documentation update.md
  .gitlab/merge_request_templates/New feature.md
  CONTRIBUTING.md
  polemarch/__init__.py
  polemarch/main/unittests/utils.py
Due: none

Update contribution guide
  .gitlab-ci.yml
  doc/contribute.rst
  tox.ini
Due: code_style, py27-install, py36-install, pages

Fix python3 coverage
  polemarch/main/unittests/ansible.py
Due: none

Refactoring to use `VST_PROJECT_LIB_NAME` in settings
  polemarch/main/settings.py
  requirements.txt
Due: code_style, py27-install, py36-install

Fix bug with `VST_PROJECT_LIB_NAME` and fix docs settings
  doc/conf.py
  polemarch/main/tests/api.py
  polemarch/main/tests/executions.py
Due: pages

Build docs for openapi with examples and schemas
  doc/api.rst
  doc/conf.py
Due: pages

Fix requirements (vstutils) version for docs
  requirements-doc.txt
Due: code_style, py27-install, py36-install

Update requirements
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Fix bug with mock patch in `test_api_users_insert_and_delete`
  polemarch/main/tests/api.py
Due: none

Update branch from master [ci skip]
  polemarch/static/css/polemarch-gui.css
Due: none

Fix bug with progress bars on Dashboard chart.
  polemarch/static/js/pmDashboard.js
  polemarch/static/templates/pmDashboard.html
Due: none

Remove useless CSS styles.
  polemarch/static/css/polemarch-gui.css
Due: none

Update vstutils version to 1.3.13
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install
