Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-install, py36-install, pages

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py27-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - make test ENVS=$TOX_ENVS
  - make build-clean
  retry: 2

pages:
  stage: release
  script:
  - make test ENVS=builddoc
  - mv doc/_build/html public
  artifacts:
    paths:
    - public

Update ci file for using new features in Giltab 11.4
  .gitlab-ci.yml
Due: none

Issue fix option create redirect
  polemarch/static/js/pmTemplates.js
Due: none

Use vstutils public release 1.2.0
  requirements-doc.txt
  requirements.txt
Due: code_style, py27-install, py36-install

Fix building docs on ref
  .gitlab-ci.yml
Due: none

Info about worker was updated in docs.
  doc/quickstart.rst
Due: pages

Fix nested owner bug
  polemarch/api/v2/serializers.py
Due: none

Improve history output style [ci skip]
  polemarch/static/css/polemarch-gui.css
Due: none

tests for gui, base tests for api paths with level <= 2
  polemarch/static/js/common.js
  polemarch/static/js/pmGuiElements.js
  polemarch/static/js/pmItems.js
  polemarch/static/js/tests/pmDashboard.js
  polemarch/static/js/tests/pmGroups.js
  polemarch/static/js/tests/pmHistory.js
  polemarch/static/js/tests/pmHook.js
  polemarch/static/js/tests/pmHosts.js
  polemarch/static/js/tests/pmInventories.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/js/tests/pmUnitTest.js
  polemarch/static/js/tests/pmUsers.js
  polemarch/templates/gui/gui.html
Due: none

Fix template_opt field in periodic tasks.
  polemarch/static/js/pmTemplates.js
Due: none

Fix scroll in history stdout.
  polemarch/static/js/pmHistory.js
Due: none

Refactoring CmdExecutor and update libs
  polemarch/main/utils.py
  requirements.txt
Due: code_style, py27-install, py36-install

Remove useless import
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

Field for autoupdate interval was added to user settings. Getting user settings from api was added to loading.completed signal.
  polemarch/api/v2/serializers.py
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmHistory.js
  polemarch/static/js/pmUsers.js
Due: none

Format of field for autoupdate interval was changed.
  polemarch/api/v2/serializers.py
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmUsers.js
Due: none

Resolve "Action - Inventory import"
  .pep8
  polemarch/api/v2/serializers.py
  polemarch/api/v2/views.py
  polemarch/main/models/vars.py
  polemarch/main/tests/hosts.py
  polemarch/main/unittests/ansible.py
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

Update CI/CD
  .gitlab-ci.yml
  setup.py
Due: py27-install, py36-install

vst/vst-utils#26 tests for templates, templates varibles, options, options varibles in project
  polemarch/static/js/common.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/js/tests/pmUsers.js
Due: none

Update information in README + update vstutils release to 1.2.1
  README.rst
  requirements.txt
Due: code_style, py27-install, py36-install

Release up to 0.2.1
  polemarch/__init__.py
Due: none

tests for dashboard
  polemarch/static/js/tests/pmDashboard.js
Due: none

Release up to 0.2.2 and fix pipelines
  .gitlab-ci.yml
  polemarch/__init__.py
  setup.cfg
  tox.ini
Due: code_style, py27-install, py36-install

Fix vstutils version in docs
  requirements-doc.txt
Due: code_style, py27-install, py36-install

WIP: Add support for `.polemarch.yaml`
  polemarch/api/v2/serializers.py
  polemarch/main/repo/_base.py
  polemarch/main/tests/executions.py
Due: none

WIP: Add support for `.polemarch.yaml`
  polemarch/main/repo/_base.py
  polemarch/main/tests/executions.py
Due: none

Fix buttons in history.
  polemarch/static/js/pmHistory.js
  polemarch/static/templates/pmHistory.html
Due: none

Resolve "Fix 'import inventory' action in GUI"
  polemarch/api/v2/serializers.py
  polemarch/api/v2/views.py
  polemarch/main/tests/hosts.py
  polemarch/main/unittests/ansible.py
  polemarch/main/utils.py
  polemarch/static/js/pmInventories.js
  requirements.txt
Due: code_style, py27-install, py36-install

Add support for `.polemarch.yaml`
  polemarch/api/v2/serializers.py
  polemarch/main/models/projects.py
  polemarch/main/repo/_base.py
  polemarch/main/tests/executions.py
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

guiElements.form polemarch/ce#73 [ci skip]
  polemarch/static/js/pmProjects.js
  polemarch/static/js/tests/pmProjects.js
Due: none

Refactoring: Set `__slots__` for some classes for memory optimization
  polemarch/main/models/projects.py
  polemarch/main/models/utils.py
  polemarch/main/repo/_base.py
  polemarch/main/repo/vcs.py
  polemarch/main/tasks/tasks.py
  polemarch/main/utils.py
Due: code_style, py27-install, py36-install

PEP fixes
  polemarch/main/repo/_base.py
  polemarch/main/tests/executions.py
Due: none

Format of field 'interval' in Periodic tasks was changed on 'uptime'.
  polemarch/static/js/pmPeriodicTasks.js
Due: none

Resolve "Format history revision (show first 8 symbols only)"
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmHistory.js
Due: none

Relative links were added to 'html' field.
  polemarch/main/models/projects.py
  polemarch/main/tests/executions.py
Due: none

Add guiElement Form, Add Run playbook form to project page polemarch/ce#73
  polemarch/api/v2/serializers.py
  polemarch/static/js/pmProjects.js
  polemarch/static/js/tests/pmProjects.js
  polemarch/static/templates/pmProject.html
  polemarch/static/templates/pmTasksTemplates.html
  polemarch/templates/gui/gui.html
Due: none

Add selenium tests and fix bug with with json in CharField
  .gitignore
  doc/api_schema.yaml
  polemarch/api/v2/serializers.py
  selenium_tests.py
  tox.ini
Due: code_style, py27-install, py36-install, pages

vst/vst-utils#121 refactoring
  polemarch/main/models/projects.py
  polemarch/static/js/pmGroups.js
  polemarch/static/js/pmProjects.js
Due: none

Update .pylintrc
  .pylintrc
Due: code_style

Some updates in the docs.
  doc/gui.rst
Due: pages

add / after # repare test for dashboard tests for project .polemarch.yml form
  polemarch/static/js/pmProjects.js
  polemarch/static/js/tests/pmDashboard.js
  polemarch/static/js/tests/pmProjects.js
Due: none

Path conditions:
  code_style: any of: polemarch/api/*, polemarch/main/*, tests.py, requirements*, tox.ini, .giltab-ci.yml, .pep8, .pylintrc
  py27-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  py36-install: any of: polemarch/api/*, polemarch/main/*, tests.py, setup.py, setup.cfg, MANIFEST.in, requirements*, tox.ini, .giltab-ci.yml
  pages: any of: doc/*
