Repository vstconsulting/polemarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py37-coverage, py36-install

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ARGS: --workdir /cache/.tox_polemarch_code
  script:
  - make test ENVS=flake,pylint
  retry: 2

py37-coverage:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  - make test ENVS=$TOX_ENVS
  ...

py36-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  - make test ENVS=$TOX_ENVS
  ...

Update vstutils required version
  polemarch/main/tests/api.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Release up 1.4.3
  doc/api_schema.yaml
  polemarch/__init__.py
Due: none

Update documentation and add extras for installation with mysql or pgsql
  doc/api_schema.yaml
  doc/conf.py
  doc/installation.rst
  polemarch/__init__.py
  setup.py
Due: py37-coverage, py36-install

Fix one_history_date_time field.
  polemarch/static/js/pmFields.js
  polemarch/static/js/tests/pmFields.js
Due: none

Update vstutils version
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Add jshint support
  .gitlab-ci.yml
  .jshintrc
  polemarch/static/js/pmCustomizer.js
  polemarch/static/js/pmDashboard.js
  polemarch/static/js/pmFields.js
  polemarch/static/js/pmFieldsMixins.js
  polemarch/static/js/pmGroups.js
  polemarch/static/js/pmHistory.js
  polemarch/static/js/pmHosts.js
  polemarch/static/js/pmInventories.js
  polemarch/static/js/pmItems.js
  polemarch/static/js/pmPeriodicTasks.js
  polemarch/static/js/pmProjects.js
  polemarch/static/js/pmTemplates.js
  polemarch/static/js/pmUsers.js
  tox.ini
Due: code_style, py37-coverage, py36-install

Update requirements.txt, requirements-doc.txt files
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update PM version to 1.4.5
  polemarch/__init__.py
Due: none

Allow to run codestyle on js changes
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Fix OneTemplate_group_callback().
  polemarch/static/js/pmTemplates.js
Due: none

Fix history StdOut.
  polemarch/static/js/pmHistory.js
  polemarch/static/js/pmUsers.js
Due: none

Update VSTUtils version in requirements.
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix `dockerrun` command for uwsgi usage
  polemarch/__init__.py
  polemarch/main/settings.py
  polemarch/web.ini
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix `.dep` to `.deb` in config.rst
  doc/config.rst
Due: none

Update vstutils version and fix capability in settings.
  polemarch/main/settings.py
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update vstutils version and fix capability in settings.
  polemarch/__init__.py
Due: none

Fix pylint
  .pylintrc
Due: code_style

Update buttons representation.
  polemarch/__init__.py
  polemarch/static/css/polemarch-gui.css
  polemarch/static/js/pmProjects.js
  polemarch/static/templates/pmHistory.html
  polemarch/static/templates/pmProjects.html
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix deleting of one item from Template Variables / Template Options / Template Option Variables list.
  polemarch/static/js/pmTemplates.js
Due: none

[WIP] Resolve error with run periodic task. Fix non-existed variable 'group' for non-template periodic tasks, fix verbose cast to int
  polemarch/main/models/tasks.py
  polemarch/main/models/utils.py
  polemarch/main/tests/executions.py
  polemarch/static/js/pmPeriodicTasks.js
Due: code_style, py37-coverage, py36-install

Resolve permission errors, create from comunity template without send context
  polemarch/api/v2/permissions.py
  polemarch/api/v2/serializers.py
Due: code_style, py37-coverage, py36-install

Fix key parse on execution
  polemarch/main/models/utils.py
  polemarch/main/settings.py
Due: code_style, py37-coverage, py36-install

Hide 'project' and 'kind' fields in History list.
  polemarch/api/v2/filters.py
  polemarch/api/v2/views.py
  polemarch/main/tests/executions.py
  polemarch/main/tests/openapi.py
  polemarch/static/js/pmFields.js
  polemarch/static/js/pmHistory.js
  polemarch/static/js/pmProjects.js
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update package building and optimize size + vstutils ver up to 2.10.11
  .pylintrc
  requirements-doc.txt
  requirements.txt
  setup.py
Due: code_style, py37-coverage, py36-install

Change 'MIDDLEWARE_CLASSES' to 'MIDDLEWARE'.
  polemarch/main/settings.py
Due: code_style, py37-coverage, py36-install

Update 'vstutils' version in requirements to '2.10.13'.
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update 'vstutils' version in requirements to '2.11.0'.
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Fix periodic tasks timezone.
  polemarch/__init__.py
  polemarch/main/models/__init__.py
Due: code_style, py37-coverage, py36-install

Fix periodic tasks timezone.
  polemarch/main/models/__init__.py
Due: code_style, py37-coverage, py36-install

Fix pylint checks
  polemarch/main/models/__init__.py
Due: code_style, py37-coverage, py36-install

Fix build and optimize `CRONTAB` periodic tasks saving performance.
  .gitlab-ci.yml
  Makefile
  polemarch/__init__.py
  polemarch/main/models/__init__.py
  setup.cfg
  tox.ini
  tox_build.ini
Due: code_style, py37-coverage, py36-install

Fix pypi publishing
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Update schema for docs
  doc/api_schema.yaml
Due: none

Recreate openapi test
  doc/api_schema.yaml
  polemarch/main/tests/openapi.py
Due: code_style, py37-coverage, py36-install

Fix for openapi diff output
  .gitlab-ci.yml
  polemarch/main/tests/openapi.py
Due: code_style, py37-coverage, py36-install

Fix bug with several enum fields in .polemarch.yaml form.
  polemarch/static/js/pmProjects.js
Due: none

Update min vstutils version
  requirements-doc.txt
  requirements.txt
Due: code_style, py37-coverage, py36-install

Update min vstutils version
  doc/api_schema.yaml
  polemarch/__init__.py
  polemarch/main/models/__init__.py
  polemarch/main/models/base.py
  polemarch/main/models/tasks.py
  polemarch/main/models/users.py
  polemarch/main/models/vars.py
  polemarch/main/tests/api.py
  polemarch/main/tests/openapi.py
  tox.ini
Due: code_style, py37-coverage, py36-install

Fix CI coverage tests.
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Refactoring CI
  .gitlab-ci.yml
Due: py37-coverage, py36-install

Path conditions:
  code_style: any of: polemarch/main/**/*, polemarch/api/**/*, requirements.txt, Makefile, tox.ini, .pylintrc, .pep8
  py37-coverage: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
  py36-install: any of: polemarch/main/**/*, polemarch/api/**/*, tests.py, setup.{py,cfg}, MANIFEST.in, requirements.txt, requirements-test.txt, Makefile, tox.ini, .coveragerc, .gitlab-ci.yml
